body {
    background-color: black;
}

header {
    background-color: gray;
}

header img {
    width: 80px;
}


.nav-link {
    color: black;
}

.navbar-toggler-icon {
    background: url('https://api.iconify.design/icon-park-outline/hamburger-button.svg?color=black') no-repeat center center / contain;
    color: black;
}

.carousel-item img {
    height: 250px;
}

@media (min-width: 900px) {
    #carouselExample {
        margin: 0 auto;
        width: 70%;
    }
   .carousel-item img {
        height: 550px;
    }
}

.armas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (min-width: 768px) {
    .armas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .armas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-text {
    font-size: medium;
    color: black;
}

.card {
    height: 400px;
}

h1 {
    color: blue;
}

h3 {
    color: brown;
}

p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.iconify {
    font-size: 3rem;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px; 
}